* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;    
    background: #000;
}

/********
HEADER 
********/

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;    
}

.header-logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-img img {
    width: 3rem;
}

.logo-text h1 {
    color: #E9C48E;
}

.header-search {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.search-bar {
    width: 15rem;
    height: 2rem;
    background-color: #BBB6C2;
    color: #FFF;
    font-size: 1.5rem;
    border: 1px solid #E9C48E;
    border-radius: 5px;
}

.search-icon i {
    color: #E9C48E;
    font-size: 2rem;
    position: relative;
    top: .5rem;
}

.header-info {
    display: flex;
    gap: 2rem;
}

.header-acc i {
    color: #E9C48E;    
    font-size: 2rem;
}

.header-cart i {
    color: #E9C48E;    
    font-size: 2rem;
}

/**********
NAVIGATION
**********/
.nav {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E9C48E;
    color: #000;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 1rem 3rem;    
}

.nav a:hover {
    background-color: #000;  
    color:  #E9C48E;
    border: 1px solid #E9C48E;
}


/***********
MAIN SECTION
***********/

.main {
    display: flex;
    flex-wrap: wrap;  
    gap: 4rem;   
    padding: 4rem 5rem;   
    color: #FFF;        
}


.item {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;    
    margin: 0 auto;
    gap: .5rem;        
}

.item-img {
    max-width: 10rem;
    max-height: 20rem;        
}

.item-img img {
    width: 100%;
    
    border: 1px solid #E9C48E;  
}

.item-name {
    display: flex;  
    max-width: 10rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px #000;
}

.item-author {
    display: flex;  
    max-width: 10rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.item-price {
    text-decoration: underline;
}